.ChatPage {
    @include flex();
    height: 100%;

    &Container {
        width: 100%;
    }

    &Header {
        @include flex(center, $dir: column, $gap: 10px);
        width: 100%;
        height: 67px;
        padding-left: 10px;
        border: 1px solid #101921;
        background-color: #17212b;
    }

    &Messages {
        @include flex($dir: column, $gap: 10px);
        height: calc(100% - 67px - 54px);
        padding: 10px;
        overflow: auto;

        &Item {
            @include flex($align: center, $gap: 10px);
            padding-right: 30px;

            &.Self {
                justify-content: flex-end;
                padding-right: 0;
                padding-left: 30px;
            }
        }

        &Image {
            @include flex(center, center);
            width: 47px;
            height: 47px;
            background: #101921;
            border-radius: 50%;
            flex-shrink: 0;

            &.Invisible {
                opacity: 0;
            }
        }

        &Text {
            background-color: #182533;
            padding: 10px;
            border-radius: 3px;
        }
    }

    &Bottom {
        @include flex($align: center);
        width: 100%;
        height: 54px;
        border: 1px solid #101921;
        background-color: #17212b;

        &Input {
            width: 100%;
            height: 100%;
            
            input {
                color: #fff;
                padding-left: 17px;
            }
        }

        &Button {
            flex-shrink: 0;
        }
    }

    .Sidebar {
        width: 100%;
        max-width: 270px;
        padding-top: 20px;
        padding-left: 14px;
        border: 1px solid #101921;
        background-color: #17212b;

        &User {
            @include flex($align: center, $gap: 9px);
            margin-bottom: 15px;
            cursor: pointer;

            &:last-child {
                margin-bottom: 0;
            }

            &Content {
                @include flex($align: center, $dir: column);
            }

            &Name {
                color: #ffffff;
                font-size: 14px;
                font-weight: 300;
                line-height: 24px;
                text-align: left;
            }

            &Image {
                @include flex(center, center);
                width: 47px;
                height: 47px;
                background: #101921;
                border-radius: 50%;
                flex-shrink: 0;
            }
        }
    }
}